@model DapperDriven.Model.Customer

<hr />
    <h3>Customer</h3>

    CustomerId: @Model.CustomerId <br />
    FirstName: @Model.FirstName <br />
    LastName: @Model.LastName <br />
    Company: @Model.Company <br />
    Address: @Model.Address <br />
    City: @Model.City <br />
    State: @Model.State <br />
    Country: @Model.Country <br />
    PostalCode: @Model.PostalCode <br />
    Phone: @Model.Phone <br />
    Fax: @Model.Fax <br />
    Email: @Model.Email <br />
    SupportRepId: @Model.SupportRepId
<hr />
